.navbar {
    background-color: brown;
}
.navbar-brand {
    font-size: 25px;
}

.nav-link, .navbar-brand {
    color: white;
}

.caixa1{
    background-color: #292929;
    color: white;
}

.botao {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: brown;
    padding: 10px 25px;
}

#wpp {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 70px;
    padding: 0 10px 10px 0;
}

.card{
    padding: 10px;
}
.card-img-top{
    width: 100%;
    height: 40%;
}

/* .btn {
    display: flex;
    gap: 10px;
} */